
body {background-color: rgb(255, 200, 50)
    ;
}
h1 {text-align: center;
    font-size: 250%;
     color:rgb(0, 0, 0);}
#ima1 {width: 50%;
    margin-left: 25%;
}
h3 {font-size: 200%;
    color:rgb(241, 28, 0);
    text-align: center
}